<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Plastic Tableware Set, Disposable Plastic Tableware - Tair Chu</title>
<meta name="keywords" content="disposable tableware, plastic tableware, plastic tableware set, disposable plastic tableware">
<meta name="description" content="Tair Chu professionally manufactures a wide range of plastic tableware set, disposable plastic tableware and PLA utensil, etc.">
<meta name="robots" content="all" />
<!-- START BLOCK : GOOGLE_SITEMAP_METATAG -->
<meta name="google-site-verification" content="{VALUE_GS_CODE}" />
<!-- END BLOCK : GOOGLE_SITEMAP_METATAG -->
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}css/index.css" >
<script src="{TAG_ROOT_PATH}js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="{TAG_ROOT_PATH}js/fullbg_box.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45102222-41']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>


<div id="wrapper">
<div id="left">
<div id="logo"><a href="{TAG_ROOT_PATH}"></a></div>

<div id="language">
<ul>
<li><a href="{TAG_ROOT_PATH}" class="current">EN</a></li>
<li><a href="/cht/" rel="nofollow" >繁中</a></li>
</ul>
</div>

<div id="menu">
<ul>
<li><a href="{TAG_ROOT_PATH}" class="current">HOME</a></li>
<li><a href="{TAG_ROOT_PATH}aboutus.htm">COMPANY</a></li>
<li><a href="{TAG_ROOT_PATH}products.htm">PRODUCTS</a></li>
<li><a href="{TAG_ROOT_PATH}news.htm">NEWS</a></li>
<li><a href="/upload_files/e-catalogue.jpg" target="_blank">E-CATALOGUE</a></li>
<li><a href="{TAG_ROOT_PATH}contactus.htm">CONTACT US</a></li>
<li><a href="{TAG_ROOT_PATH}sitemap.htm">SITEMAP</a></li></ul>
</div>

<ul id="contacts">
<li><img src="{TAG_THEME_PATH}icon-tel.png" />+886-4-23350398</li>
<li><img src="{TAG_THEME_PATH}icon-fax.png" />+886-4-23355209</li>
<li><a href="mailto:sales@tairchu.com.tw"><img src="{TAG_THEME_PATH}icon-email.png" />sales@tairchu.com.tw</a></li>
<li>&nbsp;</li>
<li>Follow Us : <a href="https://www.facebook.com/PlasticCutlery" target="_blank"><img src="{TAG_THEME_PATH}icon-facebook.png" /></a></li>

</ul>

</div>

<ul id="products">
	<!-- START BLOCK : TAG_CATE_CIRCLE -->
	<li id="probtn_0{VALUE_PC_ROW}" class="probtn"><a href="{VALUE_PC_LINK}"><img src="{VALUE_PC_IMG}" />{VALUE_PC_NAME}</a></li>
	<!-- END BLOCK : TAG_CATE_CIRCLE -->
	<!--
	<li id="probtn_01" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_cutlery_h.png" />Cutlery Series</a></li>
	<li id="probtn_02" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_food-container_h.png" />Food Container</a></li>
	<li id="probtn_03" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_cake-cutlery_h.png" />Cake Series</a></li>
	<li id="probtn_04" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_h_h.png" />Cup</a></li>
	<li id="probtn_05" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_lid_h.png" />Lid</a></li>
	<li id="probtn_06" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_oem_h.png" />OEM</a></li>
	<li id="probtn_07" class="probtn"><a href="#"><img src="{TAG_THEME_PATH}btn_love-arth_h.png" />Love Earth</a></li>
	-->
</ul>


<div id="master">
<div id="main">
  <h1>Disposable Tableware, Plastic  Tableware Set</h1>
  <p>Tair Chu was founded in Taiwan in 1978 has been engaged in making plastic injection products for more than 30 years. We supply a big selection of plastic tableware and disposable tableware which include cutlery, lids, food containers and drinking cups, etc. OEM plastic tableware set objects are also available. "Customer satisfaction, Quality first, Competitive Price, and On-time Delivery" are our core concepts. You are welcomed to contact us if you have any further question.</p>
</div>


<div id="footer">&copy; 2014 TAIR CHU All rights reserved.</div>

</div>

</div>


</body>
</html>

<script>
	$(function(){
		$("body").fullbg_box({
			IMG : "{TAG_THEME_PATH}banner01.jpg,{TAG_THEME_PATH}banner02.jpg,{TAG_THEME_PATH}banner03.jpg,{TAG_THEME_PATH}banner04.jpg", // 背景圖案 (使用 , 分隔不同圖檔路徑)
			ACT_SPEED : 2000, //動作花費時間
			ACT_TIMER : 6000, //動作間隔時間
		});
		
		//----
		$(".probtn").hover(function(){
			$(this).find("img").fadeIn();
		},function(){
			$(this).find("img").fadeOut();
		});
	});
</script>