<!-- START BLOCK : PRODUCTS_CATE_SHORT_DESC -->
<table style="padding-bottom:50px;" border="0" cellpadding="0" cellspacing="0">
  <tr>
	<td>{VALUE_PC_SHORT_DESC}</td>
  </tr>
</table>
<!-- END BLOCK : PRODUCTS_CATE_SHORT_DESC -->
<div id="products">

<a href="{TAG_ROOT_PATH}cutlery.htm">
<div id="cutlery"><img src="{TAG_THEME_PATH}cutlery.png" />
<div class="productstitle">Cutlery</div>
</div></a>

<a href="{TAG_ROOT_PATH}pla-cutlery.htm">
<div id="loveearth"><img src="{TAG_THEME_PATH}love-arth.png" />
<div class="productstitle">Love Earth</div>
</div></a>

<a href="{TAG_ROOT_PATH}food-container.htm">
<div id="foodcontainer"><img src="{TAG_THEME_PATH}food-container.png" />
<div class="productstitle">Food Container</div>
</div></a>

<a href="{TAG_ROOT_PATH}lid.htm">
<div id="lid"><img src="{TAG_THEME_PATH}lid.png" />
<div class="productstitle">Lid</div>
</div></a>

<a href="{TAG_ROOT_PATH}cake-series.htm">
<div id="cakecutlery"><img src="{TAG_THEME_PATH}cake-cutlery.png" />
<div class="productstitle">Cake-Cutlery</div>
</div></a>

<a href="{TAG_ROOT_PATH}cup.htm">
<div id="cup"><img src="{TAG_THEME_PATH}cup.png" />
<div class="productstitle">Cup</div>
</div></a>

<a href="{TAG_ROOT_PATH}oem-products.htm">
<div id="oem"><img src="{TAG_THEME_PATH}oem.png" />
</div></a>

</div>